body{
    background-image: url(./img/bg.jpeg);
    display: flex;
    justify-content:  center;
    margin: 0;
    padding: 0;
    
}

.counter-main{
    align-items: center;
    background-color: #ffff;
    border: 5px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 300px;
    height: 300px;
}

.counter-main-title,
.counter-main-value{
    text-align: center;
}

.counter-main-value{
    font-size: 70px;
    font-weight: bold;
}

.counter-btn-increment,
.counter-btn-save{
    border: none;
    border-radius: 3px;
    color: #fff; 
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    width: 38%;
}

.counter-btn-increment{
    background-color:#A31621;
}
.counter-btn-save{
    background-color: #279037;
}